[data-bs-theme="generate-lessons"] {
  --Secondary-400: #0090DA;
  --Secondary-400-rgb: 0, 144, 218;
  --Grey-scale-1200: #2D2D2D;
  --Grey-scale-200: #F5F5F5;
  --Grey-scale-400: #E0E0E0;
  --Grey-scale-800: #999999;
}
.equip{
  font-family: Arial, sans-serif;
  &__sidebar{
    flex: 0 0 74px;
    background-color: var(--Secondary-400);
    &__logo{
      margin-bottom:45px;
    }
    &__hut{
      margin-bottom:42px;
    }
  }
  &__wrapper{
    padding: 16px;
    flex: auto;
    background-color: var(--Grey-scale-200);
  }
  &__header{
    margin-bottom: 16px;
    &__title{
      font-size: 26px;
      font-weight: 400;
    }
    &__right-col{
      figure{
        width: 44px;
        height: 44px;
        background-color: var(--Secondary-400);
        border-radius: 50%;
        span{
          color: white;
          font-size: 20px;
        }
      }
    }
  }
  &__content{
    background-color: white;
    box-shadow: 2px 2px 4px 0 rgba(black, 0.25);
    flex: auto;
  }
  &__nav{
    counter-reset: my-awesome-counter;
    background-color: white;
    box-shadow: 2px 2px 4px 0 rgba(black, 0.25);
    margin-bottom:16px;
    & > div {
      counter-increment: my-awesome-counter;
      &:not(:last-child){
        flex: auto;
        &:after{
          content:"";
          display:block;
          width:16px;
          height:1px;
          background-color:var(--Grey-scale-400);
          margin-left:auto;
          margin-right:auto;
        }
      }
      a{
        padding: 24px;
        display:flex;
        align-items:center;
        color: var(--Grey-scale-800);
        text-decoration: none;
        line-height: 1;
        &:before{
          background-color:var(--Grey-scale-200);
          color:var(--Grey-scale-800);
          content: counter(my-awesome-counter);
          border-radius: 50%;
          flex-shrink: 0;
          width:24px;
          height:24px;
          display:flex;
          justify-content:center;
          align-items:center;
          margin-right:8px;
        }
      }
      &.is-active{
        a{
          color: var(--Grey-scale-1200);
          &:before{
            background-color:var(--Secondary-400);
            color:white;
          }
        }
      }
    }
  }
  .btn{
    &.btn-primary{
      --bs-btn-bg: var(--Secondary-400);
      --bs-btn-border-color: var(--Secondary-400);
      --bs-btn-hover-bg: rgba(var(--Secondary-400-rgb), 0.5); /* Corrected line */
    }
  }
}
.p-dropdown-items{
  padding-left:0!important;
}
.p-button-equip-closebtn{
  border: 1px solid var(--Grey-scale-400);
  width:40px;
  height:40px;
  background-color:white;
  color: var(--Grey-scale-1200);
}