[data-bs-theme="generate-lessons"] {
  --Secondary-400: #0090DA;
  --Grey-scale-1200: #2D2D2D;
  --Grey-scale-200: #F5F5F5;
  --Grey-scale-400: #E0E0E0;
}
.equip{
  font-family: Arial, sans-serif;
  &__sidebar{
    flex: 0 0 74px;
    background-color: var(--Secondary-400);
    &__logo{
      margin-bottom:45px;
    }
    &__hut{
      margin-bottom:42px;
    }
  }
  &__wrapper{
    padding: 16px;
    flex: auto;
    background-color: var(--Grey-scale-200);
  }
  &__header{
    &__title{
      font-size: 26px;
      font-weight: 400;
    }
    &__right-col{
      figure{
        width: 44px;
        height: 44px;
        background-color: var(--Secondary-400);
        border-radius: 50%;
        span{
          color: white;
          font-size: 20px;
        }
      }
    }
  }
}
.p-dropdown-items{
  padding-left:0!important;
}
.p-button-equip-closebtn{
  border: 1px solid var(--Grey-scale-400);
  width:40px;
  height:40px;
  background-color:white;
  color: var(--Grey-scale-1200);
}